<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeCompass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PillLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PillLabelKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C032F3419ABBD6700AECF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C032F4A19ABBD6700AECF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0ADC0419B222060016F68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0ADC0E19B222060016F68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5AC29E19B6849000A4E92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5AC2A819B6849100A4E92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C83178619B3E872006B6940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E53C1A0C331B00F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E5461A0C331B00F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E5601A0C336800F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E56A1A0C336900F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE83FDC19BCE5CB00F77395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
