<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeCompass Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BikeCompass.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CityBikesKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Todays Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C032F3419ABBD6700AECF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C032F4A19ABBD6700AECF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0ADC0419B222060016F68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0ADC0E19B222060016F68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C19DB8F1A214431009EFC12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C19DB9C1A214431009EFC12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C42709B1A1D55BA00D7036C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4270AB1A1D55BA00D7036C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C53DC741A2E77E800099662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C54E5F41A1FCE31009FB6C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C54E5FE1A1FCE31009FB6C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5AC29E19B6849000A4E92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5AC2A819B6849100A4E92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C83178619B3E872006B6940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E53C1A0C331B00F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E5461A0C331B00F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E5601A0C336800F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA4E56A1A0C336900F09473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE83FDC19BCE5CB00F77395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
